<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  xmlns:desktop2="http://schemas.microsoft.com/appx/manifest/desktop/windows10/2"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:genTemplate="http://schemas.microsoft.com/appx/developer/templatestudio"
  IgnorableNamespaces="desktop desktop2 uap uap5 rescap genTemplate">

  <Identity
    Name="Gaoyifei1011.GetStoreApp"
    Publisher="CN=高怡飞"
    Version="0.7.0.0" />

  <Properties>
    <DisplayName>ms-resource:PackageDisplayName</DisplayName>
    <PublisherDisplayName>高怡飞</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.18362.0" MaxVersionTested="10.0.22621.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.18362.0" MaxVersionTested="10.0.22621.0" />
  </Dependencies>

  <Resources>
    <Resource Language="EN-US" />
    <Resource Language="ZH-HANS" />
  </Resources>

  <Applications>
    <Application Id="GetStoreApp"
      Executable="GetStoreApp.exe"
      EntryPoint="Windows.FullTrustApplication">
      <uap:VisualElements
        DisplayName="ms-resource:AppDisplayName"
        Description="ms-resource:AppDescription"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Desktop\Square150x150Logo.png"
        Square44x44Logo="Assets\Desktop\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Desktop\Wide310x150Logo.png"  ShortName="ms-resource:AppShortDisplayName" Square71x71Logo="Assets\Desktop\SmallTile.png" Square310x310Logo="Assets\Desktop\LargeTile.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="wide310x150Logo" />
            <uap:ShowOn Tile="square310x310Logo" />
            <uap:ShowOn Tile="square150x150Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\Desktop\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="getstoreapp">
            <uap:Logo>Assets\StoreLogo.png</uap:Logo>
            <uap:DisplayName>ms-resource:ProtocolName</uap:DisplayName>
          </uap:Protocol>
        </uap:Extension>

        <uap5:Extension Category="windows.appExecutionAlias" Executable="GetStoreApp.exe" EntryPoint="Windows.FullTrustApplication">
          <uap5:AppExecutionAlias>
            <uap5:ExecutionAlias Alias="GetStoreApp.exe" />
          </uap5:AppExecutionAlias>
        </uap5:Extension>

        <desktop:Extension Category="windows.toastNotificationActivation">
          <desktop:ToastNotificationActivation ToastActivatorCLSID="6CA254A3-8B8C-4441-AE81-0FBA18ADD8B0" />
        </desktop:Extension>

        <com:Extension Category="windows.comServer">
          <com:ComServer>
            <com:ExeServer Executable="GetStoreApp.exe" Arguments="----AppNotificationActivated:" DisplayName="Toast activator">
              <com:Class Id="6CA254A3-8B8C-4441-AE81-0FBA18ADD8B0" DisplayName="Toast activator" />
            </com:ExeServer>
          </com:ComServer>
        </com:Extension>
      </Extensions>
    </Application>

    <Application Id="GetStoreAppConsole"
      Executable="GetStoreAppConsole.exe"
      EntryPoint="Windows.FullTrustApplication">
      <uap:VisualElements
        AppListEntry="none"
        DisplayName="ms-resource:AppDisplayName"
        Description="ms-resource:AppDescription"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Console\Square150x150Logo.png"
        Square44x44Logo="Assets\Console\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Console\Wide310x150Logo.png"  ShortName="ms-resource:AppShortDisplayName" Square71x71Logo="Assets\Console\SmallTile.png" Square310x310Logo="Assets\Console\LargeTile.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
            <uap:ShowOn Tile="square310x310Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\Console\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <uap5:Extension Category="windows.appExecutionAlias" Executable="GetStoreAppConsole.exe" EntryPoint="Windows.FullTrustApplication">
          <uap5:AppExecutionAlias>
            <uap5:ExecutionAlias Alias="GetStoreAppConsole.exe" />
          </uap5:AppExecutionAlias>
        </uap5:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Extensions>
    <desktop2:Extension Category="windows.firewallRules">
      <desktop2:FirewallRules Executable="Aria2/X64/Aria2Desktop.exe">
        <desktop2:Rule Direction="in" IPProtocol="TCP" Profile="all"/>
        <desktop2:Rule Direction="in" IPProtocol="UDP" Profile="all"/>
      </desktop2:FirewallRules>
    </desktop2:Extension>

    <desktop2:Extension Category="windows.firewallRules">
      <desktop2:FirewallRules Executable="Aria2/X86/Aria2Desktop.exe">
        <desktop2:Rule Direction="in" IPProtocol="TCP" Profile="all"/>
        <desktop2:Rule Direction="in" IPProtocol="UDP" Profile="all"/>
      </desktop2:FirewallRules>
    </desktop2:Extension>
  </Extensions>
  
  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
    <Capability Name="internetClient" />
    <rescap:Capability Name="packageManagement" />
  </Capabilities>

  <genTemplate:Metadata>
    <genTemplate:Item Name="generator" Value="Template Studio" />
    <genTemplate:Item Name="wizardVersion" Version="v5.2.1" />
    <genTemplate:Item Name="projectType" Value="NavView" />
    <genTemplate:Item Name="framework" Value="MVVMToolkit" />
    <genTemplate:Item Name="platform" Value="WinUI" />
    <genTemplate:Item Name="appmodel" Value="Desktop" />
  </genTemplate:Metadata>
</Package>