<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  xmlns:desktop4="http://schemas.microsoft.com/appx/manifest/desktop/windows10/4"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="com uap uap3 desktop desktop4 rescap">

  <Identity
	  Name="Gaoyifei1011.GetStoreApp"
	  Publisher="CN=高怡飞"
	  Version="5.1.1010.1" />

  <Properties>
    <DisplayName>ms-resource:PackageDisplayName</DisplayName>
    <PublisherDisplayName>高怡飞</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.19041.0" MaxVersionTested="10.0.26100.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.19041.0" MaxVersionTested="10.0.26100.0" />
  </Dependencies>

  <Resources>
    <Resource Language="AR" />
    <Resource Language="HE-IL" />
    <Resource Language="EN-US" />
    <Resource Language="ZH-HANS" />
  </Resources>

  <Applications>
    <Application Id="GetStoreApp"
		  Executable="GetStoreApp.exe"
		  EntryPoint="Windows.FullTrustApplication">

      <uap:VisualElements
			  DisplayName="ms-resource:AppDisplayName"
			  Description="ms-resource:AppDescription"
			  BackgroundColor="transparent"
			  Square150x150Logo="Assets\MainApp\Square150x150Logo.png"
			  Square44x44Logo="Assets\MainApp\Square44x44Logo.png">

        <uap:DefaultTile ShortName="ms-resource:AppShortDisplayName" Wide310x150Logo="Assets\MainApp\Wide310x150Logo.png" Square71x71Logo="Assets\MainApp\SmallTile.png" Square310x310Logo="Assets\MainApp\LargeTile.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="wide310x150Logo" />
            <uap:ShowOn Tile="square310x310Logo" />
            <uap:ShowOn Tile="square150x150Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\MainApp\SplashScreen.png" />
      </uap:VisualElements>

      <Extensions>
        <com:Extension Category="windows.comServer">
          <com:ComServer>
            <com:SurrogateServer AppId="C098FAB9-A297-5829-B47E-07EBB207E64A" DisplayName="GetStoreAppShellExtension">
              <com:Class Id="C098FAB9-A297-5829-B47E-07EBB207E64A" Path="GetStoreAppShellExtension.dll" ThreadingModel="Both" />
            </com:SurrogateServer>
          </com:ComServer>
        </com:Extension>

        <com:Extension Category="windows.comServer">
          <com:ComServer>
            <com:ExeServer Executable="GetStoreAppWidget.exe" DisplayName="GetStoreAppWidget">
              <com:Class Id="F96AFBA5-38A4-DB97-DAC7-DE29871B26B5" DisplayName="GetStoreAppWidget" />
            </com:ExeServer>
          </com:ComServer>
        </com:Extension>

        <desktop4:Extension Category="windows.fileExplorerContextMenus">
          <desktop4:FileExplorerContextMenus>
            <desktop4:ItemType Type="*">
              <desktop4:Verb Id="CGetStoreAppCommand" Clsid="C098FAB9-A297-5829-B47E-07EBB207E64A" />
            </desktop4:ItemType>
          </desktop4:FileExplorerContextMenus>
        </desktop4:Extension>

        <uap:Extension Category="windows.protocol" Executable="GetStoreAppWebView.exe" EntryPoint="GetStoreAppWebView.App">
          <uap:Protocol Name="taskbarpinner">
            <uap:DisplayName>ms-resource:TaskbarProtocolName</uap:DisplayName>
          </uap:Protocol>
        </uap:Extension>

        <uap:Extension Category="windows.protocol" Executable="GetStoreAppWebView.exe" EntryPoint="GetStoreAppWebView.App">
          <uap:Protocol Name="webbrowser">
            <uap:DisplayName>ms-resource:WebBrowserProtocolName</uap:DisplayName>
          </uap:Protocol>
        </uap:Extension>

        <uap:Extension Category="windows.shareTarget" Executable="GetStoreApp.exe" EntryPoint="Windows.FullTrustApplication">
          <uap:ShareTarget>
            <uap:DataFormat>Uri</uap:DataFormat>
          </uap:ShareTarget>
        </uap:Extension>

        <uap3:Extension Category="windows.appExecutionAlias" Executable="GetStoreApp.exe" EntryPoint="Windows.FullTrustApplication">
          <uap3:AppExecutionAlias>
            <desktop:ExecutionAlias Alias="GetStoreApp.exe" />
          </uap3:AppExecutionAlias>
        </uap3:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <rescap:Capability Name="packageQuery" />
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>